---
layout: default
title: Join Us!
---

<br />

<div class="jumbotron">
  <p style="text-align:justify; font-style: italic;"> We are recruiting passionated students interested to join the group and work on exciting topics related to software engineering and software composition. The following offers are related to current opening, but do not hesitate to discuss with us if you are interested to join the group and do amazing research work related to software engineering.</p>
</div>

<h2>Open positions</h2>

<table class="table">
	<tbody>

{% assign offers = site.offers | where: 'available', 'true' | sort: 'priority', 'first' %}
{% for o in offers %}
		<tr>
		<td class="text-center">
    {% for l in o.level %}
        {% case l %}
          {% when 'PhD' %}
				      <span class="badge badge-pill badge-danger">
          {% when 'MSc' %}
      		    <span class="badge badge-pill badge-warning">
          {% when 'BSc' %}
              <span class="badge badge-pill badge-info">
          {% else %}
              <span class="badge badge-pill badge-secondary">
        {%endcase%}{{ l }}</span><br />
    {% endfor %}
			</td>
			<td class="publication">
				<span class="pubtitle">
					<a href="{{ o.url }}"><strong>{{o.title}}</strong></a>.
				</span><br />
				<span class="authors">
					{% assign my_array = "" | split: ", " %}
					{% for s in o.people %}
						  {% assign my_array = my_array | push: site.data.people[s].display_name %}
					{% endfor %}
					<i> Supervision: {{ my_array | array_to_sentence_string }} </i>
				</span><br />
			</td>
      <td>
        {% if o.funding %}
        <i class="fas fa-dollar-sign"></i>
        {% endif %}
      </td>
		</tr>
{% endfor %}
</tbody>
</table>


<p style="text-align:justify; font-style: italic;">
  Offers flagged with a <i class="fas fa-dollar-sign"></i> are coming with a secured funding. For other subjects, there is no dedicated funding, but we can provide help to apply to grants. If you are interested in a given subject, feel free to discuss with the supervisors to find the best option that might apply for your specific case.
</p>



<h2>Old offers</h2>

<table class="table" style="color: #999">
	<tbody>

{% assign offers_by_date = site.offers | sort: 'last-updated', 'first' %}
{% assign offers = offers_by_date | reverse | where: 'available', 'false' %}
{% for o in offers %}
		<tr>
		<td class="text-center">
        {% for l in o.level %}
				<span class="badge badge-pill badge-light">{{ l }}</span><br/>
        {% endfor %}
			</td>
			<td class="publication">
				<span class="pubtitle">
					<strong>{{o.title}}</strong>.
				</span><br />
				<span class="authors">
					{% assign my_array = "" | split: ", " %}
					{% for s in o.people %}
						  {% assign my_array = my_array | push: site.data.people[s].display_name %}
					{% endfor %}
					<i> Supervision: {{ my_array | array_to_sentence_string }} </i>
				</span><br />
			</td>
		</tr>
{% endfor %}

</tbody>
</table>
