<table class="table">

<tbody>
	
	
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2019</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>When DevOps meets Meta-Learning : A Portfolio to rule them all.</strong>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Mireille Blay-Fornarino, Sébastien Mosser, Fréderic Precioso, and Günther Jungbluth.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on DevOps co-located with MODELS</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>July</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>A Delta-oriented Approach to Support the Safe Reuse of Black-box Code Rewriters</strong>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Sébastien Mosser, Naouel Moha, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Journal of Software: Evolution and Process (JSEP), ICSR special issue</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Model-driven Programming of Autonomous Floats for Multidisciplinary Monitoring of the Oceans</strong>.
			</span><br />
			<span class="authors">
				
				Sébastien Bonnieux, Sébastien Mosser, Blay-Fornarino Mireille, Yann Hello, and Guust Nolet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">IEEE Oceanic Engineering Society & Marine Technology Society (OCEANS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Contents for a Model-Based Software Engineering Body of Knowledge</strong>.
			</span><br />
			<span class="authors">
				
				Loli Burgeno, Federico Ciccozzi, Michalis Famelis, Gerti Kappel, Leen Lambers, Sébastien Mosser, Richard Paige, Alfonso Pierantonio, Arend Rensink, Rick Salay, Gabi Taentzer, Antonio Vallecillo, and Manuel Wimmer.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Journal of Software and Systems Modeling</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02061251?lang=en"><strong>Multifaceted Automated Analyses for Variability-Intensive Embedded Systems</strong></a>.
			</span><br />
			<span class="authors">
				
				Sami Lazreg, Maxime Cordy, Philippe Collet, Patrick Heymans, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">41st ACM/IEEE International Conference on Software Engineering (ICSE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01880430?lang=en"><strong>Leveraging live machine learning and deep sleep to support a self-adaptive efficient configuration of battery powered sensors</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, François Fouquet, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Future Generation Computer Systems (FGS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2018</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01803008?lang=en"><strong>Concern-Oriented Language Development (COLD): Fostering Reuse in Language Engineering</strong></a>.
			</span><br />
			<span class="authors">
				
				Benoit Combemale, Jörg Kienzle, Gunter Mussbacher, Olivier Barais, Erwan Bousse, Walter Cazzola, Philippe Collet, Thomas Degueule, Robert Heinrich, Jean-Marc Jézéquel, Manuel Leduc, Tanja Mayerhofer, Sébastien Mosser, Matthias Schöttle, Misha Strittmatter, and Andreas Wortmann.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Computer Languages, Systems and Structures</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-02061255?lang=en"><strong>Functional feasibility analysis of variability-intensive data flow-oriented applications over highly-configurable platforms</strong></a>.
			</span><br />
			<span class="authors">
				
				Sami Lazreg, Philippe Collet, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">ACM SIGAPP Applied Computing Review (ACM Digital Library)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Passage à l'échelle pour des flots d'apprentissage dans la plateforme ROCKFLOWS</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Günther Jungbluth.
			</span><br />
			<em><span class="venuetype">Master's thesis, Polytech Nice - Sophia Antipolis, Université Côte d'Azur</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-dark">Tutorial</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01947831v1?lang=en"><strong>Reconciling Requirements and Continuous Integration in an Agile Context</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser and Jean-Michel Bruel.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Requirements Engineering Conference (RE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01722040?lang=en"><strong>A Delta-oriented Approach to Support the Safe Reuse of Black-box Code Rewriters</strong></a>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Sébastien Mosser, Naouel Moha, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">17th International Conference on Software Reuse (ICSR)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01659776?lang=en"><strong>Supporting Micro-services Deployment in a Safer Way: a Static Analysis and Automated Rewriting Approach</strong></a>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Sébastien Mosser, Philippe Collet, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Applied Computing (SAC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01659786?lang=en"><strong>Enabling lock-free concurrent workers over temporal graphs composed of multiple time-series</strong></a>.
			</span><br />
			<span class="authors">
				
				François Fouquet, Thomas Hartmann, Sébastien Mosser, and Maxime Cordy.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Applied Computing (SAC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			<br />
				<i class="fas fa-award"></i>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01660057?lang=en"><strong>Assessing the Functional Feasibility of Variability-Intensive Data Flow-Oriented Systems</strong></a>.
			</span><br />
			<span class="authors">
				
				Sami Lazreg, Philippe Collet, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Applied Computing (SAC)</span></em>.
			
				(<i class="fas fa-award"></i> <em><strong>Best Paper Award</strong></em>)
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Teaching DevOps at the Graduate Level, a report from Polytech Nice Sophia</strong>.
			</span><br />
			<span class="authors">
				
				Benjamin Benni, Philippe Collet, Guilhem Molines, Sébastien Mosser, and Anne-Marie Pinna-Dery.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Software Engineering Aspects of Continuous Development and New Paradigms of Software Production and Deployment (DevOps)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2017</strong></big><br />
				
				
				<em>November</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-01703857?lang=en"><strong>DEPOSIT : une approche pour exprimer et déployer des politiques de collecte sur des infrastructures de capteurs hétérogènes et partagées</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Cyril Cecchinel.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, Université Côte d'Azur</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-01661311?lang=en"><strong>Préserver la séparation des préoccupations durant l’intégration de domaines hétérogènes dans les systèmes logiciels</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Ivan Logre.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, Université Côte d'Azur</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2016</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01411084?lang=en"><strong>Automated Deployment of Data Collection Policies over Heterogeneous Shared Sensing Infrastructures</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Asia-Pacific Software Engineering Conference (APSEC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Composition logicielle & Lignes de produits</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Benjamin Benni.
			</span><br />
			<em><span class="venuetype">Master's thesis, Polytech Nice - Sophia Antipolis, Université Nice - Sophia Antipolis</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01341093?lang=en"><strong>Towards a (de)composable workflow architecture to define data collection policies</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Applied Computing (SAC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2015</strong></big><br />
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-info">Poster</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01322537?lang=en"><strong>Composition Challenges for Sensor Data Visualization (poster)</strong></a>.
			</span><br />
			<span class="authors">
				
				Ivan Logre, Sébastien Mosser, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Modularity (MODULARITY)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01341098?lang=en"><strong>Software Development Support for Shared Sensing Infrastructures: A Generative and Dynamic Approach</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue"> International Conference on Software Reuse (ICSR)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2014</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-01073193?lang=en"><strong>Une approche agile, fiable et minimale pour le maintien de la qualité de service lors de l'évolution d'applications à base de processus métiers</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Alexandre Feugas.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, Université des Sciences et Technologie de Lille - Lille 1</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Composition de politiques de collecte de données sur un réseau de capteurs</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Cyril Cecchinel.
			</span><br />
			<em><span class="venuetype">Master's thesis, Polytech Nice - Sophia Antipolis, Université Nice - Sophia Antipolis</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01017094?lang=en"><strong>Managing a Software Ecosystem Using a Multiple Software Product Line: a Case Study on Digital Signage Systems</strong></a>.
			</span><br />
			<span class="authors">
				
				Simon Urli, Mireille Blay-Fornarino, Philippe Collet, Sébastien Mosser, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Euromicro Conference series on Software Engineering and Advanced Applications (Special issue: Software Product Lines and Software Ecosystems)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>July</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01322526?lang=en"><strong>Sensor Data Visualisation: A Composition-Based Approach to Support Domain Variability</strong></a>.
			</span><br />
			<span class="authors">
				
				Ivan Logre, Sébastien Mosser, Philippe Collet, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">European Conference on Modelling Foundations and Applications (ECMFA)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01341103?lang=en"><strong>An Architecture to Support the Collection of Big Data in the Internet of Things</strong></a>.
			</span><br />
			<span class="authors">
				
				Cyril Cecchinel, Matthieu Jimenez, Sébastien Mosser, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Ubiquitous Mobile cloud (co-located with SERVICES) (UMC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2013</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="http://arxiv.org/abs/1408.5703?lang=en"><strong>Report on the First Workshop On the Globalization of Modeling Languages</strong></a>.
			</span><br />
			<span class="authors">
				
				Benoît Combemale, Julien DeAntoni, Robert B. France, Frédéric Boulanger, Sébastien Mosser, Marc Pantel, Bernhard Rumpe, Rick Salay, and Martin Schindler.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">CoRR</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Modélisation de capteurs et Visualisation adaptée à l'usage</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Ivan Logre.
			</span><br />
			<em><span class="venuetype">Master's thesis, Polytech Nice - Sophia Antipolis, Université Nice - Sophia Antipolis</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01322550?lang=en"><strong>From Sensors to Visualization Dashboards: Need for Language Composition</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Ivan Logre, Nicolas Ferry, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Globalization of Modeling Languages workshop (GEMOC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00838642?lang=en"><strong>SPLEMMA: A Generic Framework for Controlled-Evolution of Software Product Lines</strong></a>.
			</span><br />
			<span class="authors">
				
				Daniel Romero, Simon Urli, Clément Quinton, Mireille Blay-Fornarino, Philippe Collet, Laurence Duchien, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Model-driven Approaches in Software Product Line Engineering (MAPLE/SCALE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00816940?lang=en"><strong>A Causal Model to predict the Effect of Business Process Evolution on Quality of Service</strong></a>.
			</span><br />
			<span class="authors">
				
				Alexandre Feugas, Sébastien Mosser, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">9th International Conference on the Quality of Software Architectures (QoSA)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01017074?lang=en"><strong>How to Exploit Domain Knowledge in Multiple Software Product Lines?</strong></a>.
			</span><br />
			<span class="authors">
				
				Simon Urli, Sébastien Mosser, Mireille Blay-Fornarino, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Product LinE Approaches in Software Engineering co-located with ICSE (PLEASE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://www.sciencedirect.com/science/article/pii/S0167642312001220"><strong>ADORE, a Logical Meta-model Supporting Business Process Evolution</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Science of Computer Programming</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2012</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/view/index/?identifiant=hal-00838532?lang=en"><strong>Using Feature Model to Build Model Transformation Chains</strong></a>.
			</span><br />
			<span class="authors">
				
				Vincent Aranega, Anne Etien, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Model Driven Engineering Languages and Systems (MODELS'12)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01017050?lang=en"><strong>Using Composite Feature Models to Support Agile Software Product Line Evolution</strong></a>.
			</span><br />
			<span class="authors">
				
				Simon Urli, Mireille Blay-Fornarino, Philippe Collet, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Models and Evolution, co-located with MODELS (MODSE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://www.duo.uio.no/handle/10852/34894?locale-attribute=en"><strong>CloudML : A DSL for model-based realization of applications in the cloud</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Eirik Brandtzæg.
			</span><br />
			<em><span class="venuetype">Master's thesis, Institutt for informatikk, Universitetet i Oslo</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Towards a Domain-Specific Language to Deploy Applications in the Clouds</strong>.
			</span><br />
			<span class="authors">
				
				Eirik Brandtzæg, Parastoo Mohagheghi, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">In 3rd International Conference on Cloud Computing, GRIDs, and Virtualization (CLOUD)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>MODAClouds: A Model-driven Approach for the Design and Execution of Applications on Multiple Clouds</strong>.
			</span><br />
			<span class="authors">
				
				Danilo Ardagna, Elisabetta Di Nitto, Giuliano Casale, Dana Petcu, Parastoo Mohagheghi, Sébastien Mosser, Peter Matthews, Anke Gericke, Cyril Ballagny, Francesco D'Andria, Cosmin-Septimiu Nechifor, and Craig Sheridan.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Proceedings of the 4th International Workshop on Modeling in Software Engineering, co-located with ICSE (MISE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00689706?lang=en"><strong>A Commutative Model Composition Operator to Support Software Adaptation</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Mireille Blay-Fornarino, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">European Conference on Modelling Foundations and Applications (ECMFA)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>SENSAPP As a Reference Platform to Support Cloud Experiments: From the Internet of Things to the Internet of Services</strong>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Franck Fleurey, Brice Morin, Franck Chauvel, Arnor Solberg, and Iokanaan Goutier.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Symposium on Symbolic and Numeric Algorithms for Scientific Computing (SYNACS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Towards CloudML, a Model-based Approach to Provision Resources in the Clouds</strong>.
			</span><br />
			<span class="authors">
				
				Eirik Brandtzæg, Sébastien Mosser, and Parastoo Mohagheghi.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Cloud and MDE, co-loacted with ECMFA (CloudMDE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00653044?lang=en"><strong>Using Domain Features to Handle Feature Interactions</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Laurence Duchien, Carlos Andrés Parra, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop Variability Modelling Software-Intensive Systems (VaMos)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2011</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/inria-00634943?lang=en"><strong>Service-Oriented Architecture Modeling: Bridging the Gap between Structure and Behavior</strong></a>.
			</span><br />
			<span class="authors">
				
				Mickaël Clavreul, Sébastien Mosser, Mireille Blay-Fornarino, and Robert B. France.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">14th International Conference on Model Driven Engineering, Languages and Systems (MODELS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00611379?lang=en"><strong>Using Multiple Feature Models to Design Applications for Mobile Phones</strong></a>.
			</span><br />
			<span class="authors">
				
				Clément Quinton, Sébastien Mosser, Carlos Parra, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Model-driven Approaches in Software Product Line Engineering (MAPLE/SCALE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>July</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00587660?lang=en"><strong>Undoing Event-Driven Adaptation of Business Processes</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Gabriel Hermosillo, Anne-Françoise Le Meur, Lionel Seinturier, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">8th IEEE International Conference on Services Computing (SCC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00585301?lang=en"><strong>Aspect-Oriented Model Development at Different Levels of Abstraction</strong></a>.
			</span><br />
			<span class="authors">
				
				Mauricio Alférez, Nuno Amalio, Selim Ciraci, Franck Fleurey, Jörg Kienzle, Jacques Klein, Max Kramer, Sébastien Mosser, Gunter Mussbacher, Ella Roubstova, and Gefei Zhang.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">European Conference on Modelling Foundations and Applications (ECMFA)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531027?lang=en"><strong>From Aspect-oriented Requirements Models to Aspect-oriented Business Process Design Models</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Gunter Mussbacher, Mireille Blay-Fornarino, and Daniel Amyot.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">10th international conference on Aspect Oriented Software Development (AOSD)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2010</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://tel.archives-ouvertes.fr/tel-00531024"><strong>Behavioral Compositions in Service Oriented Architecture</strong></a>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Mosser Sébastien.
			</span><br />
			<em><span class="venuetype">Ph.D. thesis, Université Nice - Sophia Antipolis</span><span class="venue"></span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531032?lang=en"><strong>Visualizing and Assessing a Compositional Approach of Business Process Design</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Alexandre Bergel, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Software Composition (SC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531026?lang=en"><strong>Workflow Design using Fragment Composition (Crisis Management System Design through ADORE)</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Mireille Blay-Fornarino, and Robert France.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Transactions on Aspect-Oriented Software Development (TAOSD)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2009</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531039?lang=en"><strong>Service Oriented Architecture Definition Using Composition of Business-Driven Fragments</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Models and Evolution, co-located with MODELS (MODSE)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531036?lang=en"><strong>Orchestration Evolution Following Dataflow Concepts: Introducing Unanticipated Loops Inside a Legacy Workflow</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Mireille Blay-Fornarino, and Johan Montagnat.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Internet and Web Applications and Services (ICIW)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2008</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531050?lang=en"><strong>Web Service Composition: Mashups Driven Orchestration Definition</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Franck Chauvel, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Itelligent Agents, Web Technologies and Internet Commerce (IAWTIC)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531051?lang=en"><strong>Web Services Orchestration Evolution : A Merge Process For Behavioral Evolution</strong></a>.
			</span><br />
			<span class="authors">
				
				Sébastien Mosser, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">European Conference on Software Architecture (ECSA)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2007</strong></big><br />
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-success">Thesis</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Motifs d’Orchestrations, vers une évolution par fusion</strong>.
			</span><br />
			<span class="authors">
				
					<i class="fas fa-graduation-cap"></i>
				
				Mosser Sébastien.
			</span><br />
			<em><span class="venuetype">Master's thesis, Polytech Nice - Sophia Antipolis</span><span class="venue"></span></em>.
			
		</td>
	</tr>
</tbody>
</table>
