<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01722040">A Delta-oriented Approach to Support the Safe Reuse of Black-box Code Rewriters</a>.
			</span><br />
			<span class="authors">
				Benjamin Benni, Sébastien Mosser, Naouel Moha, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">17th International Conference on Software Reuse (ICSR'18)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01659776">Supporting Micro-services Deployment in a Safer Way: a Static Analysis and Automated Rewriting Approach</a>.
			</span><br />
			<span class="authors">
				Benjamin Benni, Sébastien Mosser, Philippe Collet, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Symposium on applied Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01659786">Enabling lock-free concurrent workers over temporal graphs composed of multiple time-series</a>.
			</span><br />
			<span class="authors">
				Fran{\c c}ois Fouquet, Thomas Hartmann, Sébastien Mosser, and Maxime Cordy.
			</span><br />
			<span class="venuetype"></span><span class="venue">Symposium on Applied Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01660057">Assessing the Functional Feasibility of Variability-Intensive Data Flow-Oriented Systems</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{S. Lazreg}}, Philippe Collet, and Sébastien Mosser.
			</span><br />
			<span class="venuetype"></span><span class="venue">Symposium on Applied Computing (Best Paper Award)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01411084">Automated Deployment of Data Collection Policies over Heterogeneous Shared Sensing Infrastructures</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{C. Cecchinel}}, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<span class="venuetype"></span><span class="venue">23rd Asia-Pacific Software Engineering Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01341093">Towards a (de)composable workflow architecture to define data collection policies</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{C. Cecchinel}}, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<span class="venuetype"></span><span class="venue">Symposium on Applied Computing (SAC 2016)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01322537">Composition Challenges for Sensor Data Visualization (poster)</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{I. Logre}}, {\bfseries S. Mosser}, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Modularity (MODULARITY 2015)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01341098">Software Development Support for Shared Sensing Infrastructures: A Generative and Dynamic Approach</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{C. Cecchinel}}, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<span class="venuetype"></span><span class="venue"> International Conference on Software Reuse (ICSR'15)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01017094">Managing a Software Ecosystem Using a Multiple Software Product Line: a Case Study on Digital Signage Systems</a>.
			</span><br />
			<span class="authors">
				Simon Urli, Mireille Blay-Fornarino, Philippe Collet, Sébastien Mosser, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Euromicro Conference series on Software Engineering and Advanced Applications(SEAA'14) (Special issue: Software Product Lines and Software Ecosystems)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01322526">Sensor Data Visualisation: A Composition-Based Approach to Support Domain Variability</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{I. Logre}}, Sébastien Mosser, Philippe Collet, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">European Conference on Modelling Foundations and Applications (ECMFA 2014)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01341103">An Architecture to Support the Collection of Big Data in the Internet of Things</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{C. Cecchinel}}, Matthieu Jimenez, {\bfseries S. Mosser}, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Workshop on Ubiquitous Mobile cloud (co-located with SERVICES)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="http://arxiv.org/abs/1408.5703">Report on the First Workshop On the Globalization of Modeling Languages</a>.
			</span><br />
			<span class="authors">
				Beno{\^{\i}}t Combemale, Julien DeAntoni, Robert B. France, Fr{\'{e}}d{\'{e}}ric Boulanger, {\bfseries S. Mosser}, Marc Pantel, Bernhard Rumpe, Rick Salay, and Martin Schindler.
			</span><br />
			<span class="venuetype"></span><span class="venue">CoRR</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01322550">From Sensors to Visualization Dashboards: Need for Language Composition</a>.
			</span><br />
			<span class="authors">
				{\bfseries S. Mosser}, \underline{\smash{I. Logre}}, Nicolas Ferry, and Philippe Collet.
			</span><br />
			<span class="venuetype"></span><span class="venue">Globalization of Modeling Languages workshop (GeMOC'13)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.inria.fr/hal-00838642">SPLEMMA: A Generic Framework for Controlled-Evolution of Software Product Lines</a>.
			</span><br />
			<span class="authors">
				Daniel Romero, Simon Urli, Cl{\'e}ment Quinton, Mireille Blay-Fornarino, Philippe Collet, Laurence Duchien, and {\bfseries S. Mosser}.
			</span><br />
			<span class="venuetype"></span><span class="venue">MAPLE/SCALE 2013</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.inria.fr/hal-00816940">A Causal Model to predict the Effect of Business Process Evolution on Quality of Service</a>.
			</span><br />
			<span class="authors">
				\underline{\smash{A. Feugas}}, Sébastien Mosser, and Laurence Duchien.
			</span><br />
			<span class="venuetype"></span><span class="venue">Conference on the Quality of Software Architectures (QoSA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01017074">How to Exploit Domain Knowledge in Multiple Software Product Lines?</a>.
			</span><br />
			<span class="authors">
				Simon Urli, {\bfseries S. Mosser}, Mireille Blay-Fornarino, and Philippe Collet.
			</span><br />
			<span class="venuetype"></span><span class="venue">Fourth International Workshop on Product LinE Approaches in Software Engineering at ICSE 2013 (PLEASE 2013)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sciencedirect.com/science/article/pii/S0167642312001220">ADORE, a Logical Meta-model Supporting Business Process Evolution</a>.
			</span><br />
			<span class="authors">
				{\bfseries S. Mosser} and Mireille Blay-Fornarino.
			</span><br />
			<span class="venuetype"></span><span class="venue">Science of Computer Programming 78(8)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Using Feature Model to Build Model Transformation Chains.
			</span><br />
			<span class="authors">
				Vincent Aranega, Anne Etien, and Sébastien Mosser.
			</span><br />
			<span class="venuetype"></span><span class="venue">Model Driven Engineering Languages and Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-01017050">Using Composite Feature Models to Support Agile Software Product Line Evolution</a>.
			</span><br />
			<span class="authors">
				Simon Urli, Mireille Blay-Fornarino, Philippe Collet, and {\bfseries S. Mosser}.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Workshop on Models and Evolution in MODELS Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Towards a Domain-Specific Language to Deploy Applications in the Clouds.
			</span><br />
			<span class="authors">
				\underline{\smash{E. Brandtzæg}}, Parastoo Mohagheghi, and Sébastien Mosser.
			</span><br />
			<span class="venuetype"></span><span class="venue">In 3rd International Conference on Cloud Computing, GRIDs, and Virtualization</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="http://dl.acm.org/citation.cfm?id=2664431.2664439">MODAClouds: A Model-driven Approach for the Design and Execution of Applications on Multiple Clouds</a>.
			</span><br />
			<span class="authors">
				Danilo Ardagna, Elisabetta Di Nitto, Giuliano Casale, Dana Petcu, Parastoo Mohagheghi, {\bfseries S. Mosser}, Peter Matthews, Anke Gericke, Cyril Ballagny, Francesco D'Andria, Cosmin-Septimiu Nechifor, and Craig Sheridan.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 4th International Workshop on Modeling in Software Engineering (MiSE '12)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A Commutative Model Composition Operator to Support Software Adaptation.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Laurence Duchien.
			</span><br />
			<span class="venuetype"></span><span class="venue">Modelling Foundations and Applications</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="http://dx.doi.org/10.1109/SYNASC.2012.71">SENSAPP As a Reference Platform to Support Cloud Experiments: From the Internet of Things to the Internet of Services</a>.
			</span><br />
			<span class="authors">
				{\bfseries S. Mosser}, Franck Fleurey, Brice Morin, Franck Chauvel, Arnor Solberg, and Iokanaan Goutier.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2012 14th International Symposium on Symbolic and Numeric Algorithms for Scientific Computing (SYNASC '12)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Towards CloudML, a Model-based Approach to Provision Resources in the Clouds.
			</span><br />
			<span class="authors">
				\underline{\smash{E. Brandtzæg}}, {\bfseries S. Mosser}, and Parastoo Mohagheghi.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Workshop on Cloud and MDE (co-loacted with ECNFA Conference)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.inria.fr/hal-00653044">Using Domain Features to Handle Feature Interactions</a>.
			</span><br />
			<span class="authors">
				{\bfseries S. Mosser}, Laurence Duchien, Carlos Andr{\'e}s Parra, and Mireille Blay-Fornarino.
			</span><br />
			<span class="venuetype"></span><span class="venue">Variability Modelling Software-Intensive Systems (VAMOS)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.inria.fr/inria-00634943">Service-Oriented Architecture Modeling: Bridging the Gap between Structure and Behavior</a>.
			</span><br />
			<span class="authors">
				Micka{\"e}l Clavreul, Sébastien Mosser, Mireille Blay-Fornarino, and Robert B. France.
			</span><br />
			<span class="venuetype"></span><span class="venue">Model Driven Engineering Languages and Systems (MODELS'11) (Lecture Notes in Computer Science)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00611379">Using Multiple Feature Models to Design Applications for Mobile Phones</a>.
			</span><br />
			<span class="authors">
				Cl{\'e}ment Quinton, {\bfseries S. Mosser}, Carlos Parra, and Laurence Duchien.
			</span><br />
			<span class="venuetype"></span><span class="venue">MAPLE / SCALE workshop, colocated with SPLC'11</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00587660">Undoing Event-Driven Adaptation of Business Processes</a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Gabriel Hermosillo, Anne-Fran{\c c}oise Le Meur, Lionel Seinturier, and Laurence Duchien.
			</span><br />
			<span class="venuetype"></span><span class="venue">8th IEEE International Conference on Services Computing (SCC'11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00585301">Aspect-Oriented Model Development at Different Levels of Abstraction</a>.
			</span><br />
			<span class="authors">
				Mauricio Alf{\'e}rez, Nuno Amalio, Selim Ciraci, Franck Fleurey, J{\"o}rg Kienzle, Jacques Klein, Max Kramer, Sébastien Mosser, Gunter Mussbacher, Ella Roubstova, and Gefei Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">7th European Conference on Modelling Foundations and Applications (ECMFA'11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00531027">From Aspect-oriented Requirements Models to Aspect-oriented Business Process Design Models</a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Gunter Mussbacher, Mireille Blay-Fornarino, and Daniel Amyot.
			</span><br />
			<span class="venuetype"></span><span class="venue">10th international conference on Aspect Oriented Software Development (AOSD'11)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00531032">Visualizing and Assessing a Compositional Approach of Business Process Design</a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Alexandre Bergel, and Mireille Blay-Fornarino.
			</span><br />
			<span class="venuetype"></span><span class="venue">Software Composition 2010</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00531026">Workflow Design using Fragment Composition (Crisis Management System Design through ADORE)</a>.
			</span><br />
			<span class="authors">
				{\bfseries S. Mosser}, Mireille Blay-Fornarino, and Robert France.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transactions on Aspect-Oriented Software Development (TAOSD)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00531039">Service Oriented Architecture Definition Using Composition of Business-Driven Fragments</a>.
			</span><br />
			<span class="authors">
				{\bfseries S. Mosser}, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">Models and Evolution (MODSE'09), MODELS'09 workshop</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00531036">Orchestration Evolution Following Dataflow Concepts: Introducing Unanticipated Loops Inside a Legacy Workflow</a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Johan Montagnat.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Internet and Web Applications and Services (ICIW)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2008</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00531050">Web Service Composition: Mashups Driven Orchestration Definition</a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Franck Chauvel, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Itelligent Agents, Web Technologies and Internet Commerce (IAWTIC'08)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2008</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a href="https://hal.archives-ouvertes.fr/hal-00531051">Web Services Orchestration Evolution : A Merge Process For Behavioral Evolution</a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<span class="venuetype"></span><span class="venue">2nd European Conference on Software Architecture(ECSA'08)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
