<table class="table">

<tbody>
	
	
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2018</strong></big><br />
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01722040"><strong>A Delta-oriented Approach to Support the Safe Reuse of Black-box Code Rewriters</strong></a>.
			</span><br />
			<span class="authors">
				Benjamin Benni, Sébastien Mosser, Naouel Moha, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">17th International Conference on Software Reuse (ICSR'18)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01659776"><strong>Supporting Micro-services Deployment in a Safer Way: a Static Analysis and Automated Rewriting Approach</strong></a>.
			</span><br />
			<span class="authors">
				Benjamin Benni, Sébastien Mosser, Philippe Collet, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Symposium on applied Computing</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01659786"><strong>Enabling lock-free concurrent workers over temporal graphs composed of multiple time-series</strong></a>.
			</span><br />
			<span class="authors">
				François Fouquet, Thomas Hartmann, Sébastien Mosser, and Maxime Cordy.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Symposium on Applied Computing</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			<br />
				<i class="fas fa-award"></i>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01660057"><strong>Assessing the Functional Feasibility of Variability-Intensive Data Flow-Oriented Systems</strong></a>.
			</span><br />
			<span class="authors">
				Sami Lazreg, Philippe Collet, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Symposium on Applied Computing (Best Paper Award)</span></em>.
			
				(<i class="fas fa-award"></i> <em><strong>Best Paper Award</strong></em>)
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2016</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01411084"><strong>Automated Deployment of Data Collection Policies over Heterogeneous Shared Sensing Infrastructures</strong></a>.
			</span><br />
			<span class="authors">
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">23rd Asia-Pacific Software Engineering Conference ()</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>April</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01341093"><strong>Towards a (de)composable workflow architecture to define data collection policies</strong></a>.
			</span><br />
			<span class="authors">
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Symposium on Applied Computing (SAC 2016)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2015</strong></big><br />
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-info">Poster</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01322537"><strong>Composition Challenges for Sensor Data Visualization (poster)</strong></a>.
			</span><br />
			<span class="authors">
				Ivan Logre, Sébastien Mosser, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Modularity (MODULARITY 2015)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01341098"><strong>Software Development Support for Shared Sensing Infrastructures: A Generative and Dynamic Approach</strong></a>.
			</span><br />
			<span class="authors">
				Cyril Cecchinel, Sébastien Mosser, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue"> International Conference on Software Reuse (ICSR'15)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2014</strong></big><br />
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01017094"><strong>Managing a Software Ecosystem Using a Multiple Software Product Line: a Case Study on Digital Signage Systems</strong></a>.
			</span><br />
			<span class="authors">
				Simon Urli, Mireille Blay-Fornarino, Philippe Collet, Sébastien Mosser, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Euromicro Conference series on Software Engineering and Advanced Applications (SEAA'14) (Special issue: Software Product Lines and Software Ecosystems)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>July</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01322526"><strong>Sensor Data Visualisation: A Composition-Based Approach to Support Domain Variability</strong></a>.
			</span><br />
			<span class="authors">
				Ivan Logre, Sébastien Mosser, Philippe Collet, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">European Conference on Modelling Foundations and Applications (ECMFA 2014)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01341103"><strong>An Architecture to Support the Collection of Big Data in the Internet of Things</strong></a>.
			</span><br />
			<span class="authors">
				Cyril Cecchinel, Matthieu Jimenez, Sébastien Mosser, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Ubiquitous Mobile cloud (co-located with SERVICES)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2013</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="http://arxiv.org/abs/1408.5703"><strong>Report on the First Workshop On the Globalization of Modeling Languages</strong></a>.
			</span><br />
			<span class="authors">
				Benoît Combemale, Julien DeAntoni, Robert B. France, Frédéric Boulanger, Sébastien Mosser, Marc Pantel, Bernhard Rumpe, Rick Salay, and Martin Schindler.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">CoRR</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01322550"><strong>From Sensors to Visualization Dashboards: Need for Language Composition</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Ivan Logre, Nicolas Ferry, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Globalization of Modeling Languages workshop (GeMOC'13)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00838642"><strong>SPLEMMA: A Generic Framework for Controlled-Evolution of Software Product Lines</strong></a>.
			</span><br />
			<span class="authors">
				Daniel Romero, Simon Urli, Cl{\'e}ment Quinton, Mireille Blay-Fornarino, Philippe Collet, Laurence Duchien, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">MAPLE/SCALE 2013</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00816940"><strong>A Causal Model to predict the Effect of Business Process Evolution on Quality of Service</strong></a>.
			</span><br />
			<span class="authors">
				Alexandre Feugas, Sébastien Mosser, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">9th International Conference on the Quality of Software Architectures (QoSA'13)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01017074"><strong>How to Exploit Domain Knowledge in Multiple Software Product Lines?</strong></a>.
			</span><br />
			<span class="authors">
				Simon Urli, Sébastien Mosser, Mireille Blay-Fornarino, and Philippe Collet.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Fourth International Workshop on Product LinE Approaches in Software Engineering at ICSE 2013 (PLEASE 2013)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>ADORE, a Logical Meta-model Supporting Business Process Evolution</strong>.
			</span><br />
			<span class="authors">
				Sébastien Mosser and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Science of Computer Programming</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2012</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Using Feature Model to Build Model Transformation Chains</strong>.
			</span><br />
			<span class="authors">
				Vincent Aranega, Anne Etien, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Model Driven Engineering Languages and Systems (MODELS'12)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-01017050"><strong>Using Composite Feature Models to Support Agile Software Product Line Evolution</strong></a>.
			</span><br />
			<span class="authors">
				Simon Urli, Mireille Blay-Fornarino, Philippe Collet, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Models and Evolution in MODELS Conference</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Towards a Domain-Specific Language to Deploy Applications in the Clouds</strong>.
			</span><br />
			<span class="authors">
				Eirik Brandtzæg, Parastoo Mohagheghi, and Sébastien Mosser.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">In 3rd International Conference on Cloud Computing, GRIDs, and Virtualization (CLOUD'12)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>MODAClouds: A Model-driven Approach for the Design and Execution of Applications on Multiple Clouds</strong>.
			</span><br />
			<span class="authors">
				Danilo Ardagna, Elisabetta Di Nitto, Giuliano Casale, Dana Petcu, Parastoo Mohagheghi, Sébastien Mosser, Peter Matthews, Anke Gericke, Cyril Ballagny, Francesco D'Andria, Cosmin-Septimiu Nechifor, and Craig Sheridan.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Proceedings of the 4th International Workshop on Modeling in Software Engineering</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00689706"><strong>A Commutative Model Composition Operator to Support Software Adaptation</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Modelling Foundations and Applications</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>SENSAPP As a Reference Platform to Support Cloud Experiments: From the Internet of Things to the Internet of Services</strong>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Franck Fleurey, Brice Morin, Franck Chauvel, Arnor Solberg, and Iokanaan Goutier.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Proceedings of the 2012 14th International Symposium on Symbolic and Numeric Algorithms for Scientific Computing</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Towards CloudML, a Model-based Approach to Provision Resources in the Clouds</strong>.
			</span><br />
			<span class="authors">
				Eirik Brandtzæg, Sébastien Mosser, and Parastoo Mohagheghi.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Workshop on Cloud and MDE (co-loacted with ECMFA Conference)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/hal-00653044"><strong>Using Domain Features to Handle Feature Interactions</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Laurence Duchien, Carlos Andrés Parra, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Variability Modelling Software-Intensive Systems (VAMOS)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2011</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.inria.fr/inria-00634943"><strong>Service-Oriented Architecture Modeling: Bridging the Gap between Structure and Behavior</strong></a>.
			</span><br />
			<span class="authors">
				Mickaël Clavreul, Sébastien Mosser, Mireille Blay-Fornarino, and Robert B. France.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">14th International Conference on Model Driven Engineering, Languages and Systems (MODELS'11)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>August</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00611379"><strong>Using Multiple Feature Models to Design Applications for Mobile Phones</strong></a>.
			</span><br />
			<span class="authors">
				Clément Quinton, Sébastien Mosser, Carlos Parra, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">MAPLE / SCALE workshop, colocated with SPLC'11</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>July</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00587660"><strong>Undoing Event-Driven Adaptation of Business Processes</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Gabriel Hermosillo, Anne-Françoise Le Meur, Lionel Seinturier, and Laurence Duchien.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">8th IEEE International Conference on Services Computing (SCC'11)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00585301"><strong>Aspect-Oriented Model Development at Different Levels of Abstraction</strong></a>.
			</span><br />
			<span class="authors">
				Mauricio Alférez, Nuno Amalio, Selim Ciraci, Franck Fleurey, Jörg Kienzle, Jacques Klein, Max Kramer, Sébastien Mosser, Gunter Mussbacher, Ella Roubstova, and Gefei Zhang.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">7th European Conference on Modelling Foundations and Applications (ECMFA'11)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>March</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531027"><strong>From Aspect-oriented Requirements Models to Aspect-oriented Business Process Design Models</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Gunter Mussbacher, Mireille Blay-Fornarino, and Daniel Amyot.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">10th international conference on Aspect Oriented Software Development (AOSD'11)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2010</strong></big><br />
				
				
				<em>June</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531032"><strong>Visualizing and Assessing a Compositional Approach of Business Process Design</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Alexandre Bergel, and Mireille Blay-Fornarino.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Software Composition 2010</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>January</em><br />
			<span class="badge badge-pill badge-warning">Journal</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531026"><strong>Workflow Design using Fragment Composition (Crisis Management System Design through ADORE)</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Robert France.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Transactions on Aspect-Oriented Software Development (TAOSD)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2009</strong></big><br />
				
				
				<em>October</em><br />
			<span class="badge badge-pill badge-secondary">Workshop</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531039"><strong>Service Oriented Architecture Definition Using Composition of Business-Driven Fragments</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">Models and Evolution (MODSE'09), MODELS'09 workshop</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>May</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531036"><strong>Orchestration Evolution Following Dataflow Concepts: Introducing Unanticipated Loops Inside a Legacy Workflow</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Johan Montagnat.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Internet and Web Applications and Services (ICIW)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				<big><strong>2008</strong></big><br />
				
				
				<em>December</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531050"><strong>Web Service Composition: Mashups Driven Orchestration Definition</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Franck Chauvel, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">International Conference on Itelligent Agents, Web Technologies and Internet Commerce (IAWTIC'08)</span></em>.
			
		</td>
	</tr>
	<tr>
		<td class="text-center">
			<span class="date">
				
				
				
				<em>September</em><br />
			<span class="badge badge-pill badge-primary">Conference</span>
			
		</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdf-icon.png" width="16"
					height="16" alt="PDF" />
				<a target="_blank" href="https://hal.archives-ouvertes.fr/hal-00531051"><strong>Web Services Orchestration Evolution : A Merge Process For Behavioral Evolution</strong></a>.
			</span><br />
			<span class="authors">
				Sébastien Mosser, Mireille Blay-Fornarino, and Michel Riveill.
			</span><br />
			<em><span class="venuetype"></span><span class="venue">2nd European Conference on Software Architecture(ECSA'08)</span></em>.
			
		</td>
	</tr>
</tbody>
</table>
